services:
  db:
    image: postgres:18
    container_name: noava_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql
      - ~/noava-db-scripts:/docker-entrypoint-initdb.d:ro
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER}']
      interval: 5s
      timeout: 5s
      retries: 10

  migrate:
    build:
      context: ./backend
      dockerfile: Dockerfile.migrate
    working_dir: /app
    command:
      [
        'dotnet',
        'ef',
        'database',
        'update',
        '--project',
        './noava/noava.csproj',
      ]
    env_file:
      - ./.env
    depends_on:
      - db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: noava_backend
    restart: always
    depends_on:
      - db
    env_file:
      - ./.env
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ConnectionStrings__NoavaDatabaseLocal: ${ConnectionStrings__NoavaDatabaseLocal}
      Clerk__SecretKeyDefault: ${Clerk__SecretKeyDefault}
    ports:
      - '5000:5000'

  frontend:
    build:
      context: ./frontend
    container_name: noava_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - '80:80'

volumes:
  db_data:
