services:
  db:
    image: postgres:18
    container_name: noava_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER}']
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    container_name: noava_backend
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: ${ASPNETCORE_ENVIRONMENT}
      ConnectionStrings__NoavaDatabaseLocal: ${ConnectionStrings__NoavaDatabaseLocal}
      Clerk__SecretKeyDefault: ${Clerk__SecretKeyDefault}
    ports:
      - '5000:5000'
    entrypoint: >
      /bin/bash -c "
      dotnet ef database update &&
      dotnet noava.dll
      "

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
        VITE_CLERK_PUBLISHABLE_KEY: ${VITE_CLERK_PUBLISHABLE_KEY}
        VITE_CLERK_SIGN_IN_URL: ${VITE_CLERK_SIGN_IN_URL}
        VITE_CLERK_SIGN_UP_URL: ${VITE_CLERK_SIGN_UP_URL}

    container_name: noava_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - '80:80'

volumes:
  db_data:
