.navbarHideable {
  transition: transform var(--ifm-transition-fast) ease;
}

.navbarHidden {
  transform: translate3d(0, calc(-100% - 2px), 0);
}

.customNavbar {
  background-color: var(--color-background-app-light);
  border-bottom: 1px solid var(--color-border);
  padding: 0.75rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.2rem;
}

/* Logo image */
.customNavbar :global(.navbar__logo img) {
  height: 3rem;
  width: auto;
  transform: translateY(-0.5rem);
}

/* Title text */
.customNavbar :global(.navbar__title) {
  font-size: 1.2rem;   /* bigger title */
  font-weight: 500;
  color: var(--color-text-title-light);
  line-height: 1;
}
