.categoryLink {
  overflow: hidden;
}
:global(.menu__link--sublist-caret)::after {
  margin-left: var(--ifm-menu-link-padding-vertical);
}
.categoryLinkLabel {
  display: flex; 
  align-items: center;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 0.2em;
  color: var(--color-text-body-light);
}

.sidebarIcon {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem; 
  flex-shrink: 0; 
  color: var(--color-text-body-light);
}

.sidebarIcon--active {
  color: var(--color-primary-500);

}