.categoryLink {
  overflow: hidden;
}
:global(.menu__link--sublist-caret)::after {
  margin-left: var(--ifm-menu-link-padding-vertical);
}

.categoryLinkLabel {
  display: flex; 
  align-items: center;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 0.2em;
  color: var(--color-text-body-light);
}

h1{
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 1.5rem;
  color: var(--color-text-title-light);
}

header p{
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 2rem;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-text-body-light);
}


.sidebarIcon {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem; 
  flex-shrink: 0; 
  color: var(--color-text-body-light);
}

.sidebarIcon--active {
  color: var(--color-primary-500);

}