.authorCol {
  max-width: inherit !important;
}

:global(.avatar__name a) {
  color: var(--color-primary-400);
}

.imageOnlyAuthorRow {
  display: flex;
  flex-flow: row wrap;
}

.imageOnlyAuthorCol {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}


