.title {
  font-size: 3rem;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
}

h2 a{
  color: var(--color-text-title-light);
}

[data-theme="dark"] h2 a{
  color: var(--color-text-title-dark);
}

h2 a:hover{
  color: var(--color-primary-400)
}
