/* Reset */
html, body, #root {
  height: 100%;
  margin: 0;
}


body {
  display: block;
}
#root {
  display: flex;
  width: 100%;
}

.app-container {
  width: 100%;
  padding: 0;
  max-width: none;
}
