html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  
}

/* App content container */
#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Default page width */
.app-container {
  width: 100%;
}