/* Reset */
html, body, #root {
  height: 100%;
  margin: 0;
  width: 100%;
}


body {
  display: block;
}

/* because the navbar the ONLY thing (besides changing app.tsx) that i can do to not make it overlap is to 
give the app container (so the place with the main content) some margins, etc. */
.app-container {
  width: 100%;
  /* margin-left: 5rem; */
}